## Dasar Pemrograman 3
### Tugas no.1 Jenis jenis tipe data dan contohnya dengan bahasa pemrograman


1. Boolean Menyatakan benar True yang bernilai 1, atau salah False yang bernilai 0
2. String Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit tanda " atau ') contohnya "ayo belajar python"
3. Integer Menyatakan bilangan bulat contohnya 20 atau 130
4. Float Menyatakan bilangan yang mempunyai koma contohnya 3,12 atau 9,99
5. Hexadecimal Menyatakan bilangan dalam format heksa (bilangan berbasis 16) contohnya 9 atau 1d3
6. Complex Menyatakan pasangan angka real dan imajiner contohnya 1 + 5j
7. List	Data untaian yang menyimpan berbagai tipe data dan isinya bisa diubah-ubah contahnya ['xyz', 768,2.23]
8. Tuple Data untaian yang menyimpan berbagai tipe data tapi isinya tidak bisa diubah contohnya ('xyz,768,2.23)
9. Dictionary Data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai contohnya {'nama':'adi','id';2}

In [1]:
#tipe data Boolean
print(True)

#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')

#tipe data Integer
print(20)

#tipe data Float
print(3.14)

#tipe data Hexadecimal
print(9)

#tipe data Complex
print(5j)

#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])

#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))

#tipe data Dictionary
print({"nama":"Yuka", 'umur':19})
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Yuka", 'umur':19} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
print(type(biodata)) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'> yang berarti dict adalah tipe data dictionary

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
9
5j
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Yuka', 'umur': 19}
{'nama': 'Yuka', 'umur': 19}
<class 'dict'>

### Tugas no.2 membuat komentar Nama, Nomor telepon NIM menggunakan python
### dikarenakan tidak perlu adanya inputan, langsung membuat output

In [2]:
#output nama 
print("YUKA WAHYUNI")
#output no hp
print("0855209749113")
#output nim
print("202200400125")

YUKA WAHYUNI
0855209749113
202200400125

### Tugas no.3 diketahui terdapat 3 buah angka, angka pertama adalah 5000, angka kedua adalah 2000, dan angka ketiga adalah 200. Selanjutnya tambahkan 500 pada angka pertama dan kedua, kemudian hasilnya angka pertama ditambah angka kedua dikurangi angka ketiga.

In [3]:
#membuat sebuah pemrograman sederhana hasil dari (angka 1+5000)+(angka2+500)-200
#diketahui angka1 = 5000, angka2 = 2000 dan angka3 = 200

#deklarasi variabel
#500 dijadikan variabel a agar mudah
angka1 = 5000
angka2 = 2000
angka3 = 200
a = 500

#membuat rumus yang dimana kita sebut saja "hasil"
hasil = (angka1+a)+(angka2+a)-angka3

#membuat output atau tampilan saat program dijalankan
print("Hasil Hitung: ",hasil)

Hasil Hitung:  7800

### Tugas no.4 buatlah aplikasi dengan python untuk mencari keliling lingkaran dan volume kubus
### A. Keliling Lingkaran

In [4]:
#program menghitung keliling lingkaran 

#import 'math' agar 'pi' mempunyai nilai
import math

#membuat inputan jari-jari berupa float
r= float(input("Masukan jari-jari ="))

#membuat rumus keliling
keliling = 2*math.pi*r

#membuat output
print ("keliling lingkaran = ",keliling)

Masukan jari-jari =7
keliling lingkaran =  43.982297150257104

### B. Volume Kubus

In [5]:
print("program menghitung volume kubus")
sisi = float (input("masukan sisi :"))
hasil = sisi*sisi*sisi
print("volume kubus adalah : " + str(hasil))

program menghitung volume kubus
masukan sisi :4
volume kubus adalah : 64.0